In [14]:
import csv

In [24]:
result = []
with open('../content/product_list.csv', 'r', encoding='euc-kr') as f:
    reader = csv.reader(f)
    for line in reader:
        result.append(line)
        print(line)

['9', '양말', '5000']
['9', '양말', '5000']

In [22]:
# 방법 1
with open('product_list.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(result)                # 이전 레코드
    writer.writerow(['9', '양말', '5000'])  # 신규 레코드

In [23]:
# 방법 2
result.append(['9', '양말', '5000'])

with open('../content/product_list.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(result)

In [25]:
import sqlite3

In [26]:
sqlite3.version

'2.6.0'

In [27]:
sqlite3.sqlite_version

'3.28.0'

In [28]:
conn = sqlite3.connect('test.db')

In [29]:
# 커서 생성
c = conn.cursor()

In [30]:
# 쿼리문 작성
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [31]:
# DB 연결 해제
conn.close()

In [32]:
import sys
!{sys.executable} -m pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python38\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\user\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [39]:
# 연습용 DB 연결
conn = sqlite3.connect("chadwick.db")

In [40]:
# 커서 생성
c = conn.cursor()

In [41]:
# 전체 테이블 현황 조회
c.execute('''SELECT * FROM sqlite_master WHERE type="table"''')

In [42]:
pd.DataFrame(c.fetchall())

Empty DataFrame
Columns: []
Index: []

In [43]:
# 전체 데이터 조회
c.execute('''SELECT * FROM Parks''')

OperationalError: no such table: Parks

In [24]:
# 전체 로우 선택
pd.DataFrame(c.fetchall())

,0,1,2,3,4,5
0,ALB01,Riverside Park,None,Albany,NY,US
1,ALT01,Columbia Park,None,Altoona,PA,US
2,ANA01,Angel Stadium of Anaheim,Edison Field; Anaheim Stadium,Anaheim,CA,US
3,ARL01,Arlington Stadium,None,Arlington,TX,US
4,ARL02,Rangers Ballpark in Arlington,The Ballpark in Arlington; Ameriquest Fl,Arlington,TX,US
...,...,...,...,...,...,...
250,WIL02,BB&T Ballpark at Bowman Field,None,Williamsport,PA,US
251,WNY01,West New York Field Club Grounds,None,West New York,NJ,US
252,WOR01,Agricultural County Fair Grounds I,None,Worcester,MA,US
253,WOR02,Agricultural County Fair Grounds II,None,Worcester,MA,US
254,WOR03,Worcester Driving Park Grounds,None,Worcester,MA,US

In [44]:
# 1개 로우 선택
pd.DataFrame(c.fetchone())

Empty DataFrame
Columns: []
Index: []

In [45]:
# 지정 로우 선택
pd.DataFrame(c.fetchmany(size=3))

Empty DataFrame
Columns: []
Index: []

In [46]:
# 컬럼(키) 확인
cur = c.execute('''SELECT * FROM Parks''')
cur.description

OperationalError: no such table: Parks

In [28]:
# 특정 row 만 가져오기
c.execute('''SELECT * FROM Parks WHERE state = ?''', ('NY',))
pd.DataFrame(c.fetchall())

,0,1,2,3,4,5
0,ALB01,Riverside Park,None,Albany,NY,US
1,BUF01,Riverside Grounds,None,Buffalo,NY,US
2,BUF02,Olympic Park I,None,Buffalo,NY,US
3,BUF03,Olympic Park II,None,Buffalo,NY,US
4,BUF04,International Fair Association Grounds,Federal League Park,Buffalo,NY,US
5,ELM01,Maple Avenue Driving Park,None,Elmira,NY,US
6,IRO01,Windsor Beach,None,Irondequoit,NY,US
7,MAS01,Long Island Grounds,None,Maspeth,NY,US
8,NYC01,Union Grounds,None,Brooklyn,NY,US
9,NYC02,Capitoline Grounds,None,Brooklyn,NY,US
10,NYC03,Polo Grounds I (Southeast Diamond),None,New York,NY,US
11,NYC04,Polo Grounds II (Southwest Diamond),None,New York,NY,US
12,NYC05,Washington Park I,None,Brooklyn,NY,US
13,NYC06,Metropolitan Park,None,New York,NY,US
14,NYC07,Grauer's Ridgewood Park,Ridgewood Park I,Queens,NY,US
15,NYC08,Washington Park II,None,Brooklyn,NY,US
16,NYC09,Polo Grounds III,None,New York,NY,US
17,NYC10,Polo Grounds IV,None,New York,NY,US
18,NYC11,Eastern Park,None,Brooklyn,NY,US
19,NYC12,Washington Park III,None,Brooklyn,NY,US
20,NYC13,Hilltop Park,None,New York,NY,US
21,NYC14,Polo Grounds V,None,New York,NY,US
22,NYC15,Ebbets Field,None,Brooklyn,NY,US
23,NYC16,Yankee Stadium I,None,New York,NY,US
24,NYC17,Shea Stadium,William A. Shea Stadium,New York,NY,US
25,NYC18,Wallace's Ridgewood Park,Ridgewood Park II,Queens,NY,US
26,NYC19,Washington Park IV,None,Brooklyn,NY,US
27,NYC20,Citi Field,None,New York,NY,US
28,NYC21,Yankee Stadium II,None,New York,NY,US
29,ROC01,Culver Field I,None,Rochester,NY,US
30,ROC02,Culver Field II,None,Rochester,NY,US
31,ROC03,Ontario Beach Grounds,None,Rochester,NY,US
32,SAI01,St. George Cricket Grounds,None,New York,NY,US
33,SYR01,Star Park I,Newell Park,Syracuse,NY,US
34,SYR02,Star Park II,None,Syracuse,NY,US
35,SYR03,Iron Pier,None,Syracuse,NY,US
36,THR01,Three Rivers Park,None,Three Rivers,NY,US
37,TRO01,Haymakers' Grounds,None,Troy,NY,US
38,TRO02,Putnam Grounds,None,Troy,NY,US
39,WAT01,Troy Ball Club Grounds,None,Watervliet,NY,US

In [33]:
# DB 연결 해제
conn.close()

In [35]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")

In [36]:
# 커서 생성
c = conn.cursor()

In [37]:
# 테이블 생성
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [38]:
# 테이블 생성확인
c.execute('''SELECT * FROM sqlite_master WHERE type="table"''')
print(c.fetchall())

[('table', 'test', 'test', 2, 'CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)')]

In [39]:
# 데이터 삽입
c.execute("INSERT INTO test VALUES(1,'모자',150000)")

In [40]:
conn.commit()

In [41]:
# 데이터 삽입
c.execute("INSERT INTO test VALUES(2,'코트',200000)")
conn.commit()

In [42]:
# 데이터 삽입
c.execute("INSERT INTO test(PRODUCT_NAME, PRICE, ID) VALUES(?,?,?)", ('티셔츠', 20000, 3))
conn.commit()

In [43]:
# 데이터 삽입
c.execute("INSERT INTO test(ID, PRICE, PRODUCT_NAME) VALUES(?,?,?)", (4, 55000, '블라우스'))
conn.commit()

In [44]:
# 테이블 내용 삭제
c.execute("DELETE FROM test")
conn.commit()

In [45]:
# 추가할 상품 리스트
product_list = [[1, '모자', 15000],
                [2, '코트', 200000],
                [3, '티셔츠', 20000],
                [4, '블라우스', 55000],
                [5, '가디건', 45000],
                [6, '청바지', 50000],
                [7, '구두', 150000],
                [8, '가방', 170000]]

In [46]:
# 데이터 여러줄 삽입
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [47]:
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID = ?", ('슬랙스', 6))
conn.commit()

In [48]:
c.execute("UPDATE test SET PRICE = :price WHERE ID = :id", {"price": 55000, "id": 6})
conn.commit()

In [49]:
c.execute("UPDATE test SET PRODUCT_NAME = '%s' WHERE ID = '%s'" % ('트랜치코트', 2))
conn.commit()

In [50]:
c.execute("DELETE FROM test WHERE ID =?", (8,))
conn.commit()

In [51]:
c.execute("DELETE FROM test WHERE PRODUCT_NAME = :product_name", {'product_name': '슬랙스'})
conn.commit()

In [52]:
c.execute("DELETE FROM test")
conn.commit()

In [53]:
# DB 연결 해제
conn.close()

In [54]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")
# 커서 생성
c = conn.cursor()

In [55]:
# 추가할 상품 리스트
product_list = [[1, '모자', 15000],
                [2, '코트', 200000],
                [3, '티셔츠', 20000],
                [4, '블라우스', 55000],
                [5, '가디건', 45000],
                [6, '청바지', 50000],
                [7, '구두', 150000],
                [8, '가방', 170000]]

In [56]:
# 데이터 여러줄 삽입
c.executemany("INSERT OR REPLACE INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

In [57]:
# iterdump 내용 확인
for line in conn.iterdump():
    print(line)

BEGIN TRANSACTION;
CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);
INSERT INTO "test" VALUES(1,'모자',15000);
INSERT INTO "test" VALUES(2,'코트',200000);
INSERT INTO "test" VALUES(3,'티셔츠',20000);
INSERT INTO "test" VALUES(4,'블라우스',55000);
INSERT INTO "test" VALUES(5,'가디건',45000);
INSERT INTO "test" VALUES(6,'청바지',50000);
INSERT INTO "test" VALUES(7,'구두',150000);
INSERT INTO "test" VALUES(8,'가방',170000);
COMMIT;

In [58]:
# 데이터 베이스 백업 파일 생성
with conn:
    with open('backup.sql', 'w') as f:
        for line in conn.iterdump():
            f.write('%s\n' % line)
        print('Completed.')

Completed.

In [59]:
# 테이블 삭제
c.execute("DROP TABLE test")
conn.commit()

In [60]:
# 백업 SQL 파일 로딩
with open('backup.sql', 'r') as sql_file:
    sql_script = sql_file.read()

In [61]:
sql_script

'BEGIN TRANSACTION;\nCREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER);\nINSERT INTO "test" VALUES(1,\'모자\',15000);\nINSERT INTO "test" VALUES(2,\'코트\',200000);\nINSERT INTO "test" VALUES(3,\'티셔츠\',20000);\nINSERT INTO "test" VALUES(4,\'블라우스\',55000);\nINSERT INTO "test" VALUES(5,\'가디건\',45000);\nINSERT INTO "test" VALUES(6,\'청바지\',50000);\nINSERT INTO "test" VALUES(7,\'구두\',150000);\nINSERT INTO "test" VALUES(8,\'가방\',170000);\nCOMMIT;\n'

In [62]:
# SQL 스크립트 실행
c.executescript(sql_script)
conn.commit()

In [63]:
# 데이터 베이스 연결 해제
conn.close()

In [64]:
#  쇼핑몰 데이터 베이스
conn = sqlite3.connect("shopping_mall.db")

#  커서 생성
c = conn.cursor()

In [65]:
product_list = pd.read_csv('product_list.csv', encoding='euc-kr')
print(product_list)

    ID   상품명      가격
0    1    모자   15000
1    2    코트  200000
2    3   티셔츠   20000
3    4  블라우스   55000
4    5   가디건   45000
5    6   청바지   50000
6    7    구두  150000
7    8    가방  170000
8    9    양말    5000
9    9    양말    5000
10   9    양말    5000

In [66]:
# 상품 리스트 테이블 추가
product_list.to_sql('productList', conn, if_exists='append', index=False)

11

In [67]:
# 테이블 삭제
c.execute("DROP TABLE productList")
conn.commit()

In [68]:
product_list = [['모자', 15000],
                ['코트', 200000],
                ['티셔츠', 20000],
                ['블라우스', 55000],
                ['가디건', 45000],
                ['청바지', 50000],
                ['구두', 150000],
                ['가방', 170000],
                ['양말', 5000]]

# 테이블 생성
c.execute("CREATE TABLE IF NOT EXISTS productList(ID INTEGER PRIMARY KEY AUTOINCREMENT, 상품명 TEXT, 가격 INTEGER)")

# 레코드 추가
c.executemany("INSERT INTO productList (상품명,가격) values (?,?)", product_list)
conn.commit()

In [69]:
c.execute("CREATE TABLE IF NOT EXISTS orderList(ID INTEGER PRIMARY KEY AUTOINCREMENT, 상품명 TEXT, 개수 INTEGER, 가격 INTEGER, 총합 INTEGER)")
conn.commit()

In [70]:
while True:

    # 상품 목록을 표시
    print("------------------상품목록------------------")
    for row in c.execute('SELECT ID, 상품명, 가격 FROM productList'):
        print('상품번호 :', row[0], ', 상품명 :', row[1], ', 가격 :', row[2])
    print("--------------------------------------------")

    # 사용자 상품 선택
    print('')
    num = input("구매하실 상품의 번호를 입력해주세요: ")
    c.execute("SELECT 상품명, 가격 FROM productList WHERE id = ?", (num,))
    result = c.fetchone()

    # 상품 번호와 주문 수량을 입력
    print('')
    count = int(input("구매할 수량을 입력해주세요: "))
    total = count * int(result[1])

    # 주문 데이터를 db에 추가
    c.execute("INSERT INTO orderList (상품명, 개수, 가격, 총합) VALUES (?,?,?,?)", (result[0], count, result[1], total))

    # 현재까지 주문 내역을 출력
    print('')
    print("현재까지 구매한 내역 보기")
    print("--------------------주문목록--------------------")
    for row in c.execute('SELECT * FROM orderList'):
        print('상품명 :', row[1], ', 주문수량 :', row[2], ', 단가 :', row[3], ', 구매가격 :', row[4])
    print("------------------------------------------------")

    # 사용자 추가 구매 여부
    print('')
    print("상품을 추가 구매하시겠습니까?\n중단하려면 'x'을 눌러주세요.\n계속 하시려면 엔터키를 눌러주세요. ")
    if (input() == "x"):
        break

------------------상품목록------------------
상품번호 : 1 , 상품명 : 모자 , 가격 : 15000
상품번호 : 2 , 상품명 : 코트 , 가격 : 200000
상품번호 : 3 , 상품명 : 티셔츠 , 가격 : 20000
상품번호 : 4 , 상품명 : 블라우스 , 가격 : 55000
상품번호 : 5 , 상품명 : 가디건 , 가격 : 45000
상품번호 : 6 , 상품명 : 청바지 , 가격 : 50000
상품번호 : 7 , 상품명 : 구두 , 가격 : 150000
상품번호 : 8 , 상품명 : 가방 , 가격 : 170000
상품번호 : 9 , 상품명 : 양말 , 가격 : 5000
--------------------------------------------



현재까지 구매한 내역 보기
--------------------주문목록--------------------
상품명 : 가디건 , 주문수량 : 2 , 단가 : 45000 , 구매가격 : 90000
------------------------------------------------

상품을 추가 구매하시겠습니까?
중단하려면 'x'을 눌러주세요.
계속 하시려면 엔터키를 눌러주세요.

In [71]:
# 주문 내역에서 총 구매 가격 계산
print("총 구매가격", end='')

for row in c.execute('SELECT sum(총합) FROM orderList'):
    print(' : ', row[0], '원')
print('')

# 주문 내역 초기화
c.execute("DELETE FROM orderList")

# 데이터 베이스 연결 해제
conn.close()

총 구매가격 :  90000 원

In [72]:
import sqlite3

#  쇼핑몰 데이터 베이스
conn = sqlite3.connect("shopping_mall.db", isolation_level=None)
#  커서 생성
c = conn.cursor()


while True:

    # 상품 목록을 표시
    print("------------------상품목록------------------")
    for row in c.execute('SELECT ID, 상품명, 가격 FROM productList'):
        print('상품번호 :', row[0], ', 상품명 :', row[1], ', 가격 :', row[2])
    print("--------------------------------------------")

    # 사용자 상품 선택
    print('')
    num = input("구매하실 상품의 번호를 입력해주세요: ")
    c.execute("SELECT 상품명, 가격 FROM productList WHERE id = ?", (num,))
    result = c.fetchone()

    # 상품 번호와 주문 수량을 입력
    print('')
    count = int(input("구매할 수량을 입력해주세요: "))
    total = count * int(result[1])  # 주문 수량에 따른 가격

    # 주문 데이터를 db에 추가
    c.execute("INSERT INTO orderList (상품명, 개수, 가격, 총합) VALUES (?,?,?,?)", (result[0], count, result[1], total))

    # 현재까지 주문 내역을 출력
    print('')
    print("현재까지 구매한 내역 보기")
    print("--------------------주문목록--------------------")
    for row in c.execute('SELECT * FROM orderList'):
        print('상품명 :', row[1], ', 주문수량 :', row[2], ', 단가 :', row[3], ', 구매가격 :', row[4])
    print("------------------------------------------------")

    # 사용자 추가 구매 여부
    print('')
    print("상품을 추가 구매하시겠습니까?\n중단하려면 'x'을 눌러주세요.\n계속 하시려면 엔터키를 눌러주세요. ")
    if (input() == "x"):
        break

# 주문 내역에서 총 구매 가격 계산
print("총 구매가격", end='')

for row in c.execute('SELECT sum(총합) FROM orderList'):
    print(' : ', row[0], '원')
print('')

# 주문 내역 초기화
c.execute("DELETE FROM orderList")

# 데이터 베이스 연결 해제
conn.close()

------------------상품목록------------------
상품번호 : 1 , 상품명 : 모자 , 가격 : 15000
상품번호 : 2 , 상품명 : 코트 , 가격 : 200000
상품번호 : 3 , 상품명 : 티셔츠 , 가격 : 20000
상품번호 : 4 , 상품명 : 블라우스 , 가격 : 55000
상품번호 : 5 , 상품명 : 가디건 , 가격 : 45000
상품번호 : 6 , 상품명 : 청바지 , 가격 : 50000
상품번호 : 7 , 상품명 : 구두 , 가격 : 150000
상품번호 : 8 , 상품명 : 가방 , 가격 : 170000
상품번호 : 9 , 상품명 : 양말 , 가격 : 5000
--------------------------------------------



현재까지 구매한 내역 보기
--------------------주문목록--------------------
상품명 : 코트 , 주문수량 : 4 , 단가 : 200000 , 구매가격 : 800000
------------------------------------------------

상품을 추가 구매하시겠습니까?
중단하려면 'x'을 눌러주세요.
계속 하시려면 엔터키를 눌러주세요.
총 구매가격 :  800000 원